h1 {
    text-align: center;
    color: white;
    animation-name: ruedita;
    animation-timeline: scroll(root);
    position: sticky;
    top: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes ruedita {
    from {
        font-size: 50px;
        background-color: rgba(61, 59, 59, 0.5);
    }
    to {
        font-size: 15px;
        color: black;
        background-color: rgba(44, 91, 44, 0.2);
    }
}

section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    
}
section > img {
    width: 100%;
    border-radius: 2%;
}